version: '3.8'
services:
  backend:
    build: ./insurai-backend
    ports:
      - "8080:8080"
    environment:
      - DB_URL=jdbc:mysql://db:3306/insurai_db?createDatabaseIfNotExist=true&allowPublicKeyRetrieval=true&useSSL=false
      - DB_USER=root
      - DB_PASS=root
    depends_on:
      - db

  frontend:
    build: ./insurai-frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: insurai_db
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
